
@{
    ViewBag.Title = "AllDriver";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">All Drivers</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li>
                        <i class="fa fa-home"></i> <a class="parent-item" href="@Url.Action("Dashboard","Admin")">Home</a> <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a class="parent-item" href="#">Driver</a> <i class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">All Drivers</li>
                </ol>
            </div>
        </div>
        <ul class="nav nav-pills nav-pills-rose">
            <li class="nav-item tab-all"><a class="nav-link active show" href="#tab1" data-bs-toggle="tab">List View</a></li>
            <li class="nav-item tab-all">
                <a class="nav-link" href="#tab2" data-bs-toggle="tab">Grid View</a>
            </li>
        </ul>
        <div class="tab-content tab-space">
            <div class="tab-pane active show" id="tab1">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-box">
                            <div class="card-head">
                                <button id="panel-button" class="mdl-button mdl-js-button mdl-button--icon pull-right" data-upgraded=",MaterialButton">
                                    <i class="material-icons">more_vert</i>
                                </button>
                                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" data-mdl-for="panel-button">
                                    <li class="mdl-menu__item"><i class="material-icons">assistant_photo</i>Action</li>
                                    <li class="mdl-menu__item">
                                        <i class="material-icons">print</i>Another
                                        action
                                    </li>
                                    <li class="mdl-menu__item"><i class="material-icons">favorite</i>Something else here</li>
                                </ul>
                            </div>
                            <div class="card-body ">
                                <div class="table-scrollable">
                                    <table class="table table-hover table-checkable order-column full-width" id="example4">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th class="center"> Name </th>
                                                <th class="center"> Mobile </th>
                                                <th class="center"> Email </th>
                                                <th class="center"> Address </th>
                                                <th class="center">Joining Date</th>
                                                <th class="center">Trips</th>
                                                <th class="center">Status</th>
                                                <th class="center"> Action </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="odd gradeX">
                                                <td class="user-circle-img sorting_1">
                                                    <img src="images/user1.jpg" alt>
                                                </td>
                                                <td class="center">Rajesh</td>
                                                <td class="center">
                                                    <a href="tel:4444565756">
                                                        4444565756
                                                    </a>
                                                </td>
                                                <td class="center">
                                                    <a href="mailto:shuxer@example.com">
                                                        rajesh@example.com
                                                    </a>
                                                </td>
                                                <td class="center">22,tilak appt. surat</td>
                                                <td class="center">22 Feb 2000</td>
                                                <td class="center">212</td>
                                                <td>
                                                    <span class="label label-sm box-shadow-1 label-success">
                                                        On
                                                        Trip
                                                    </span>
                                                </td>
                                                <td class="center">
                                                    <a href="#" class="btn btn-tbl-edit btn-xs">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <a class="btn btn-tbl-delete btn-xs">
                                                        <i class="fa fa-trash-o "></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr class="odd gradeX">
                                                <td class="user-circle-img sorting_1">
                                                    <img src="images/user10.jpg" alt>
                                                </td>
                                                <td class="center">Pooja Patel</td>
                                                <td class="center">
                                                    <a href="tel:444786876">
                                                        444786876
                                                    </a>
                                                </td>
                                                <td class="center">
                                                    <a href="mailto:shuxer@example.com">
                                                        pooja@example.com
                                                    </a>
                                                </td>
                                                <td class="center">22,tilak appt. surat</td>
                                                <td class="center">27 Aug 2005</td>
                                                <td class="center">153</td>
                                                <td>
                                                    <span class="label label-sm box-shadow-1 label-warning">
                                                        Available
                                                    </span>
                                                </td>
                                                <td class="center">
                                                    <a href="#" class="btn btn-tbl-edit btn-xs">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <a class="btn btn-tbl-delete btn-xs">
                                                        <i class="fa fa-trash-o "></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr class="odd gradeX">
                                                <td class="user-circle-img sorting_1">
                                                    <img src="images/user2.jpg" alt>
                                                </td>
                                                <td class="center">Sarah Smith</td>
                                                <td class="center">
                                                    <a href="tel:44455546456">
                                                        44455546456
                                                    </a>
                                                </td>
                                                <td class="center">
                                                    <a href="mailto:shuxer@example.com">
                                                        sarah@example.com
                                                    </a>
                                                </td>
                                                <td class="center">22,tilak appt. surat</td>
                                                <td class="center">05 Jun 2011</td>
                                                <td class="center">345</td>
                                                <td>
                                                    <span class="label label-sm box-shadow-1 label-success">
                                                        On
                                                        Trip
                                                    </span>
                                                </td>
                                                <td class="center">
                                                    <a href="#" class="btn btn-tbl-edit btn-xs">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <a class="btn btn-tbl-delete btn-xs">
                                                        <i class="fa fa-trash-o "></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr class="odd gradeX">
                                                <td class="user-circle-img sorting_1">
                                                    <img src="images/user3.jpg" alt>
                                                </td>
                                                <td class="center">John Deo</td>
                                                <td class="center">
                                                    <a href="tel:444543564">
                                                        444543564
                                                    </a>
                                                </td>
                                                <td class="center">
                                                    <a href="mailto:shuxer@example.com">
                                                        john@example.com
                                                    </a>
                                                </td>
                                                <td class="center">22,tilak appt. surat</td>
                                                <td class="center">15 Feb 2012</td>
                                                <td class="center">565</td>
                                                <td>
                                                    <span class="label label-sm box-shadow-1 label-danger">
                                                        Leave
                                                    </span>
                                                </td>
                                                <td class="center">
                                                    <a href="#" class="btn btn-tbl-edit btn-xs">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <a class="btn btn-tbl-delete btn-xs">
                                                        <i class="fa fa-trash-o "></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr class="odd gradeX">
                                                <td class="user-circle-img sorting_1">
                                                    <img src="images/user4.jpg" alt>
                                                </td>
                                                <td class="center">Jay Soni</td>
                                                <td class="center">
                                                    <a href="tel:444543564">
                                                        444543564
                                                    </a>
                                                </td>
                                                <td class="center">
                                                    <a href="mailto:shuxer@example.com">
                                                        kenh@example.com
                                                    </a>
                                                </td>
                                                <td class="center">22,tilak appt. surat</td>
                                                <td class="center">12 Nov 2012</td>
                                                <td class="center">524</td>
                                                <td>
                                                    <span class="label label-sm box-shadow-1 label-warning">
                                                        Available
                                                    </span>
                                                </td>
                                                <td class="center">
                                                    <a href="#" class="btn btn-tbl-edit btn-xs">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <a class="btn btn-tbl-delete btn-xs">
                                                        <i class="fa fa-trash-o "></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr class="odd gradeX">
                                                <td class="user-circle-img sorting_1">
                                                    <img src="images/user5.jpg" alt>
                                                </td>
                                                <td class="center">Jacob Ryan</td>
                                                <td class="center">
                                                    <a href="tel:444543564">
                                                        444543564
                                                    </a>
                                                </td>
                                                <td class="center">
                                                    <a href="mailto:shuxer@example.com">
                                                        johnson@example.com
                                                    </a>
                                                </td>
                                                <td class="center">22,tilak appt. surat</td>
                                                <td class="center">03 Dec 2001</td>
                                                <td class="center">23</td>
                                                <td>
                                                    <span class="label label-sm box-shadow-1 label-success">
                                                        On
                                                        Trip
                                                    </span>
                                                </td>
                                                <td class="center">
                                                    <a href="#" class="btn btn-tbl-edit btn-xs">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <a class="btn btn-tbl-delete btn-xs">
                                                        <i class="fa fa-trash-o "></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr class="odd gradeX">
                                                <td class="user-circle-img sorting_1">
                                                    <img src="images/user6.jpg" alt>
                                                </td>
                                                <td class="center">Megha Trivedi</td>
                                                <td class="center">
                                                    <a href="tel:444543564">
                                                        444543564
                                                    </a>
                                                </td>
                                                <td class="center">
                                                    <a href="mailto:shuxer@example.com">
                                                        megha@example.com
                                                    </a>
                                                </td>
                                                <td class="center">22,tilak appt. surat</td>
                                                <td class="center">17 Mar 2013</td>
                                                <td class="center">865</td>
                                                <td>
                                                    <span class="label label-sm box-shadow-1 label-warning">
                                                        Available
                                                    </span>
                                                </td>
                                                <td class="center">
                                                    <a href="#" class="btn btn-tbl-edit btn-xs">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <a class="btn btn-tbl-delete btn-xs">
                                                        <i class="fa fa-trash-o "></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr class="odd gradeX">
                                                <td class="user-circle-img sorting_1">
                                                    <img src="images/user1.jpg" alt>
                                                </td>
                                                <td class="center">Rajesh</td>
                                                <td class="center">
                                                    <a href="tel:4444565756">
                                                        4444565756
                                                    </a>
                                                </td>
                                                <td class="center">
                                                    <a href="mailto:shuxer@example.com">
                                                        rajesh@example.com
                                                    </a>
                                                </td>
                                                <td class="center">22,tilak appt. surat</td>
                                                <td class="center">22 Feb 2000</td>
                                                <td class="center">137</td>
                                                <td>
                                                    <span class="label label-sm box-shadow-1 label-success">
                                                        On
                                                        Trip
                                                    </span>
                                                </td>
                                                <td class="center">
                                                    <a href="#" class="btn btn-tbl-edit btn-xs">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <a class="btn btn-tbl-delete btn-xs">
                                                        <i class="fa fa-trash-o "></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr class="odd gradeX">
                                                <td class="user-circle-img sorting_1">
                                                    <img src="images/user10.jpg" alt>
                                                </td>
                                                <td class="center">Pooja Patel</td>
                                                <td class="center">
                                                    <a href="tel:444786876">
                                                        444786876
                                                    </a>
                                                </td>
                                                <td class="center">
                                                    <a href="mailto:shuxer@example.com">
                                                        pooja@example.com
                                                    </a>
                                                </td>
                                                <td class="center">22,tilak appt. surat</td>
                                                <td class="center">27 Aug 2005</td>
                                                <td class="center">534</td>
                                                <td>
                                                    <span class="label label-sm box-shadow-1 label-danger">
                                                        Leave
                                                    </span>
                                                </td>
                                                <td class="center">
                                                    <a href="#" class="btn btn-tbl-edit btn-xs">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <a class="btn btn-tbl-delete btn-xs">
                                                        <i class="fa fa-trash-o "></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr class="odd gradeX">
                                                <td class="user-circle-img sorting_1">
                                                    <img src="images/user2.jpg" alt>
                                                </td>
                                                <td class="center">Sarah Smith</td>
                                                <td class="center">
                                                    <a href="tel:44455546456">
                                                        44455546456
                                                    </a>
                                                </td>
                                                <td class="center">
                                                    <a href="mailto:shuxer@example.com">
                                                        sarah@example.com
                                                    </a>
                                                </td>
                                                <td class="center">22,tilak appt. surat</td>
                                                <td class="center">05 Jun 2011</td>
                                                <td class="center">454</td>
                                                <td>
                                                    <span class="label label-sm box-shadow-1 label-warning">
                                                        Available
                                                    </span>
                                                </td>
                                                <td class="center">
                                                    <a href="#" class="btn btn-tbl-edit btn-xs">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <a class="btn btn-tbl-delete btn-xs">
                                                        <i class="fa fa-trash-o "></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr class="odd gradeX">
                                                <td class="user-circle-img sorting_1">
                                                    <img src="images/user5.jpg" alt>
                                                </td>
                                                <td class="center">Jacob Ryan</td>
                                                <td class="center">
                                                    <a href="tel:444543564">
                                                        444543564
                                                    </a>
                                                </td>
                                                <td class="center">
                                                    <a href="mailto:shuxer@example.com">
                                                        johnson@example.com
                                                    </a>
                                                </td>
                                                <td class="center">22,tilak appt. surat</td>
                                                <td class="center">03 Dec 2001</td>
                                                <td class="center">865</td>
                                                <td>
                                                    <span class="label label-sm box-shadow-1 label-success">
                                                        On
                                                        Trip
                                                    </span>
                                                </td>
                                                <td class="center">
                                                    <a href="#" class="btn btn-tbl-edit btn-xs">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <a class="btn btn-tbl-delete btn-xs">
                                                        <i class="fa fa-trash-o "></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr class="odd gradeX">
                                                <td class="user-circle-img sorting_1">
                                                    <img src="images/user6.jpg" alt>
                                                </td>
                                                <td class="center">Megha Trivedi</td>
                                                <td class="center">
                                                    <a href="tel:444543564">
                                                        444543564
                                                    </a>
                                                </td>
                                                <td class="center">
                                                    <a href="mailto:shuxer@example.com">
                                                        megha@example.com
                                                    </a>
                                                </td>
                                                <td class="center">22,tilak appt. surat</td>
                                                <td class="center">17 Mar 2013</td>
                                                <td class="center">63</td>
                                                <td>
                                                    <span class="label label-sm box-shadow-1 label-warning">
                                                        Available
                                                    </span>
                                                </td>
                                                <td class="center">
                                                    <a href="#" class="btn btn-tbl-edit btn-xs">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <a class="btn btn-tbl-delete btn-xs">
                                                        <i class="fa fa-trash-o "></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr class="odd gradeX">
                                                <td class="user-circle-img sorting_1">
                                                    <img src="images/user1.jpg" alt>
                                                </td>
                                                <td class="center">Rajesh</td>
                                                <td class="center">
                                                    <a href="tel:4444565756">
                                                        4444565756
                                                    </a>
                                                </td>
                                                <td class="center">
                                                    <a href="mailto:shuxer@example.com">
                                                        rajesh@example.com
                                                    </a>
                                                </td>
                                                <td class="center">22,tilak appt. surat</td>
                                                <td class="center">22 Feb 2000</td>
                                                <td class="center">235</td>
                                                <td>
                                                    <span class="label label-sm box-shadow-1 label-warning">
                                                        Available
                                                    </span>
                                                </td>
                                                <td class="center">
                                                    <a href="#" class="btn btn-tbl-edit btn-xs">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <a class="btn btn-tbl-delete btn-xs">
                                                        <i class="fa fa-trash-o "></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr class="odd gradeX">
                                                <td class="user-circle-img sorting_1">
                                                    <img src="images/user10.jpg" alt>
                                                </td>
                                                <td class="center">Pooja Patel</td>
                                                <td class="center">
                                                    <a href="tel:444786876">
                                                        444786876
                                                    </a>
                                                </td>
                                                <td class="center">
                                                    <a href="mailto:shuxer@example.com">
                                                        pooja@example.com
                                                    </a>
                                                </td>
                                                <td class="center">22,tilak appt. surat</td>
                                                <td class="center">27 Aug 2005</td>
                                                <td class="center">137</td>
                                                <td>
                                                    <span class="label label-sm box-shadow-1 label-success">
                                                        On
                                                        Trip
                                                    </span>
                                                </td>
                                                <td class="center">
                                                    <a href="#" class="btn btn-tbl-edit btn-xs">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <a class="btn btn-tbl-delete btn-xs">
                                                        <i class="fa fa-trash-o "></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr class="odd gradeX">
                                                <td class="user-circle-img sorting_1">
                                                    <img src="images/user2.jpg" alt>
                                                </td>
                                                <td class="center">Sarah Smith</td>
                                                <td class="center">
                                                    <a href="tel:44455546456">
                                                        44455546456
                                                    </a>
                                                </td>
                                                <td class="center">
                                                    <a href="mailto:shuxer@example.com">
                                                        sarah@example.com
                                                    </a>
                                                </td>
                                                <td class="center">22,tilak appt. surat</td>
                                                <td class="center">05 Jun 2011</td>
                                                <td class="center">976</td>
                                                <td>
                                                    <span class="label label-sm box-shadow-1 label-danger">
                                                        Leave
                                                    </span>
                                                </td>
                                                <td class="center">
                                                    <a href="#" class="btn btn-tbl-edit btn-xs">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <a class="btn btn-tbl-delete btn-xs">
                                                        <i class="fa fa-trash-o "></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab2">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="m-b-20">
                                <div class="doctor-profile">
                                    <div class="profile-header bg-b-purple">
                                        <div class="user-name">Pooja Patel</div>
                                        <div class="name-center">435 Trips</div>
                                    </div>
                                    <img src="images/usrbig1.jpg" class="user-img" alt>
                                    <div class="col-md-12 col-sm-12 rating-style">
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star_half</i>
                                        <i class="material-icons">star_border</i>
                                        <i class="material-icons">star_border</i>
                                        <i class="material-icons">star_border</i>
                                    </div>
                                    <p>
                                        A-103, shyam gokul flats, Mahatma Road <br>Mumbai
                                    </p>
                                    <div>
                                        <p>
                                            <i class="fa fa-phone"></i><a href="tel:(123)456-7890">
                                                (123)456-7890
                                            </a>
                                        </p>
                                    </div>
                                    <div class="profile-userbuttons">
                                        <a href="staff_profile.html" class="btn btn-circle deepPink-bgcolor btn-sm">
                                            Read
                                            More
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="m-b-20">
                                <div class="doctor-profile">
                                    <div class="profile-header cyan-bgcolor">
                                        <div class="user-name">Smita Patil</div>
                                        <div class="name-center">876 Trips</div>
                                    </div>
                                    <img src="images/usrbig2.jpg" class="user-img" alt>
                                    <div class="col-md-12 col-sm-12 rating-style">
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star_half</i>
                                        <i class="material-icons">star_border</i>
                                    </div>
                                    <p>
                                        45, Krishna Tower, Near Bus Stop, Satellite, <br>Ahmedabad
                                    </p>
                                    <div>
                                        <p>
                                            <i class="fa fa-phone"></i><a href="tel:(123)456-7890">
                                                (123)456-7890
                                            </a>
                                        </p>
                                    </div>
                                    <div class="profile-userbuttons">
                                        <a href="staff_profile.html" class="btn btn-circle deepPink-bgcolor btn-sm">
                                            Read
                                            More
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="m-b-20">
                                <div class="doctor-profile">
                                    <div class="profile-header light-dark-bgcolor">
                                        <div class="user-name">John Smith</div>
                                        <div class="name-center">234 Trips</div>
                                    </div>
                                    <img src="images/usrbig3.jpg" class="user-img" alt>
                                    <div class="col-md-12 col-sm-12 rating-style">
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star</i>
                                    </div>
                                    <p>
                                        456, Estern evenue, Courtage area, <br>New York
                                    </p>
                                    <div>
                                        <p>
                                            <i class="fa fa-phone"></i><a href="tel:(123)456-7890">
                                                (123)456-7890
                                            </a>
                                        </p>
                                    </div>
                                    <div class="profile-userbuttons">
                                        <a href="staff_profile.html" class="btn btn-circle deepPink-bgcolor btn-sm">
                                            Read
                                            More
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="m-b-20">
                                <div class="doctor-profile">
                                    <div class="profile-header bg-b-orange">
                                        <div class="user-name">Pooja Patel</div>
                                        <div class="name-center">23 Trips</div>
                                    </div>
                                    <img src="images/usrbig4.jpg" class="user-img" alt>
                                    <div class="col-md-12 col-sm-12 rating-style">
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star_half</i>
                                    </div>
                                    <p>
                                        A-103, shyam gokul flats, Mahatma Road <br>Mumbai
                                    </p>
                                    <div>
                                        <p>
                                            <i class="fa fa-phone"></i><a href="tel:(123)456-7890">
                                                (123)456-7890
                                            </a>
                                        </p>
                                    </div>
                                    <div class="profile-userbuttons">
                                        <a href="staff_profile.html" class="btn btn-circle deepPink-bgcolor btn-sm">
                                            Read
                                            More
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="m-b-20">
                                <div class="doctor-profile">
                                    <div class="profile-header bg-b-green">
                                        <div class="user-name">Smita Patil</div>
                                        <div class="name-center">864 Trips</div>
                                    </div>
                                    <img src="images/usrbig5.jpg" class="user-img" alt>
                                    <div class="col-md-12 col-sm-12 rating-style">
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star_border</i>
                                        <i class="material-icons">star_border</i>
                                        <i class="material-icons">star_border</i>
                                        <i class="material-icons">star_border</i>
                                    </div>
                                    <p>
                                        45, Krishna Tower, Near Bus Stop, Satellite, <br>Ahmedabad
                                    </p>
                                    <div>
                                        <p>
                                            <i class="fa fa-phone"></i><a href="tel:(123)456-7890">
                                                (123)456-7890
                                            </a>
                                        </p>
                                    </div>
                                    <div class="profile-userbuttons">
                                        <a href="staff_profile.html" class="btn btn-circle deepPink-bgcolor btn-sm">
                                            Read
                                            More
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="m-b-20">
                                <div class="doctor-profile">
                                    <div class="profile-header bg-b-danger">
                                        <div class="user-name">John Smith</div>
                                        <div class="name-center">424 Trips</div>
                                    </div>
                                    <img src="images/usrbig6.jpg" class="user-img" alt>
                                    <div class="col-md-12 col-sm-12 rating-style">
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star_half</i>
                                        <i class="material-icons">star_border</i>
                                    </div>
                                    <p>
                                        456, Estern evenue, Courtage area, <br>New York
                                    </p>
                                    <div>
                                        <p>
                                            <i class="fa fa-phone"></i><a href="tel:(123)456-7890">
                                                (123)456-7890
                                            </a>
                                        </p>
                                    </div>
                                    <div class="profile-userbuttons">
                                        <a href="staff_profile.html" class="btn btn-circle deepPink-bgcolor btn-sm">
                                            Read
                                            More
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="m-b-20">
                                <div class="doctor-profile">
                                    <div class="profile-header bg-b-black">
                                        <div class="user-name">Pooja Patel</div>
                                        <div class="name-center">754 Trips</div>
                                    </div>
                                    <img src="images/usrbig7.jpg" class="user-img" alt>
                                    <div class="col-md-12 col-sm-12 rating-style">
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star_half</i>
                                        <i class="material-icons">star_border</i>
                                    </div>
                                    <p>
                                        A-103, shyam gokul flats, Mahatma Road <br>Mumbai
                                    </p>
                                    <div>
                                        <p>
                                            <i class="fa fa-phone"></i><a href="tel:(123)456-7890">
                                                (123)456-7890
                                            </a>
                                        </p>
                                    </div>
                                    <div class="profile-userbuttons">
                                        <a href="staff_profile.html" class="btn btn-circle deepPink-bgcolor btn-sm">
                                            Read
                                            More
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="m-b-20">
                                <div class="doctor-profile">
                                    <div class="profile-header bg-b-yellow">
                                        <div class="user-name">Smita Patil</div>
                                        <div class="name-center">842 Trips</div>
                                    </div>
                                    <img src="images/usrbig8.jpg" class="user-img" alt>
                                    <div class="col-md-12 col-sm-12 rating-style">
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star_half</i>
                                        <i class="material-icons">star_border</i>
                                        <i class="material-icons">star_border</i>
                                        <i class="material-icons">star_border</i>
                                    </div>
                                    <p>
                                        45, Krishna Tower, Near Bus Stop, Satellite, <br>Ahmedabad
                                    </p>
                                    <div>
                                        <p>
                                            <i class="fa fa-phone"></i><a href="tel:(123)456-7890">
                                                (123)456-7890
                                            </a>
                                        </p>
                                    </div>
                                    <div class="profile-userbuttons">
                                        <a href="staff_profile.html" class="btn btn-circle deepPink-bgcolor btn-sm">
                                            Read
                                            More
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="m-b-20">
                                <div class="doctor-profile">
                                    <div class="profile-header bg-b-pink">
                                        <div class="user-name">John Smith</div>
                                        <div class="name-center">123 Trips</div>
                                    </div>
                                    <img src="images/usrbig9.jpg" class="user-img" alt>
                                    <div class="col-md-12 col-sm-12 rating-style">
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star</i>
                                    </div>
                                    <p>
                                        456, Estern evenue, Courtage area, <br>New York
                                    </p>
                                    <div>
                                        <p>
                                            <i class="fa fa-phone"></i><a href="tel:(123)456-7890">
                                                (123)456-7890
                                            </a>
                                        </p>
                                    </div>
                                    <div class="profile-userbuttons">
                                        <a href="staff_profile.html" class="btn btn-circle deepPink-bgcolor btn-sm">
                                            Read
                                            More
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>